<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="display: flex; width: 100%; border: 1px solid blue;">
      <div style="width:65%;">
        a
      </div>
      <div style="width:35%; border: 1px solid red; text-align: center;">
   
          <img src='/images/weird.jpg' style="width: 90%;">
     
      </div>
    </div>
    
  
  </body>
</html>
